/* ************************************************************** */
/* ******** Font colors */
/* ************************************************************** */


$colorLightOnDark: rgb(255, 255, 255);
$colorAccent: #1B957F;

/* ************************************************************** */
/* ******** Borders */
/* ************************************************************** */

$colorBorder: #CACDD4;


/* ************************************************************** */
/* ******** Backgrounds */
/* ************************************************************** */

$colorBgMenu: #000;
$colorBgSection: rgb(211, 211, 211);
$colorBgHighlight: rgb(255, 255, 255);
$colorBgMenuGrad: linear-gradient(180deg, #fff, 50%, #CACDD4 100%);





