body {
    @include fontBasic ();
}

/* ************************************************************** */
/* ******** Navi */
/* ************************************************************** */

.main-nav {
    background-color: $colorBgMenu;
    text-transform: uppercase;

    a {
        color:$colorLightOnDark;
    }

    .main-nav-container {
        height: 40px; 
        display: flex;
        justify-content: space-between;   
        align-items: center;
    }
    
    .main-nav-logo {
        letter-spacing: 0.2rem;

        span {
           color: $colorAccent; 
           font-weight: 800;
        }   
    }

    .main-nav-menu {
        position: relative;
        
        li {
            display: inline-block;
            margin-left: 20px;
            letter-spacing: 0.0rem;
            font-weight: 600;
        }
    }

    .main-nav-menu-sub {
        display: none;
        position: absolute;
        top:40px;
        left: 0px;
        background: $colorAccent;
        
        li {
            display: block;
            padding: 10px 20px;
            margin-left: 0;
            text-transform: none;            
        }
    }
}

/* ************************************************************** */
/* ******** Hero area */
/* ************************************************************** */

.header {
    background: $colorBgMenuGrad;

    .header-hero-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-slider-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
    }    
    
    .arrow {
        fill: $colorAccent;
        transform-origin: 50% 50%;
    }
    .arrow-left {            
        transform: scaleX(0.6) scaleY(0.6);

    }
    .arrow-right {
        transform: scaleX(-0.6) scaleY(0.6);
    }


    .header-slider-container {
        // background-color: blue;
        width: 950px;
        height: 500px;
        position: relative;

        /* ************************************************************** */
        /* ******** Slider */
        /* ************************************************************** */

        .slider {
            position: absolute;
            top: 10px;
            left: 10px;
            // border: 1px solid orange;

            span {
                display: block;
                height: 480px;
                width: 930px;
            }
        }

        .slider-01 {
            
        }
        .slider-02 {
            z-index: 0;
            display: none;
        }
        .slider-03 {
            z-index: 0;
            display: none;
        }
    }

}

.section-pricelist {
background-color: $colorBgSection;

}