
/* ************************************************************** */
/* ******** Main container */
/* ************************************************************** */

.site-container {
    width: $widthMain;
    margin: 0 auto;
}

/* ************************************************************** */
/* ******** Basic grid */
/* ************************************************************** */

.grid {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: - ($gapVerticalMain / 2);
    margin-left:  - ($gapVerticalMain / 2);
    
    
    .col1-3 {
        width: 33.33333%;
        padding: $gapHorizontalMain ($gapVerticalMain / 2);
    }

    .col2-3 {
        width: 66.66666%;
        padding: $gapHorizontalMain ($gapVerticalMain / 2);
    }

    .col1-2 {
        width: 50%;
        padding: $gapHorizontalMain ($gapVerticalMain / 2);
    }
}

/* ************************************************************** */
/* ******** Slider */
/* ************************************************************** */


.main-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-slider-nav {
    width: $silderNavWidth;
    height: 100%;
}

.header-slider-container {    
    width: $widthMain - (2 * ($silderNavWidth));
    height: $sliderHeight;
    position: relative;
}

.slider {
    position: absolute;
    top: $sliderContentVerticalMargin;
    left: $sliderContentHorizontalMargin;
    height: $sliderHeight - (2 * $sliderContentVerticalMargin);
    width: $widthMain - (2* $silderNavWidth) - (2* $sliderContentHorizontalMargin);
    display: flex;
}

.slide-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.slide-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}


